footer {
  width: 100%;
  height: 100%;
  background-color: $brand-blue-color;
  @include padding(100px, 0, 80px, 0);

  @include media-breakpoint-down(md) {
    @include padding(70px, 0, 70px, 0);
  }

  .footerBottom__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: 50px;
    }

    .footerMenu__wrapper {
      display: flex;
      column-gap: 2rem;
      margin-bottom: 3rem;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 2rem;
      }

      .footerMenu__link {
        color: $white-color;
        font-weight: 500;
        font-size: 20px;
        &:hover {
          color: $brand-second-color;
        }
      }
    }

    .social__wrapper {
      display: flex;
      justify-content: flex-end;

      @include media-breakpoint-down(md) {
        justify-content: flex-start;
      }

      .social__item {
        @include margin(0, 0.5rem, 0, 0.5rem);

        i {
          &:before {
            color: $white-color;
            @include font-size(20px);
          }
        }
      }
    }
  }

  .copyright__text {
    font-size: 16px;
    color: white;
    font-weight: 500;
  }
}
