// colors
$brand-color: #f16336;
$brand-second-color: #1f1f1e;
$black-color: #000; // black color
$white-color: #fff; // white color
$danger-color: $danger;
$success-color: #00674e;

$light-grey-color: #888886; // light grey
$dark-grey-color: #262626; // dark grey

$light-blue-color: #fffef5; // light blue

// $light-blue-color: #f3f7ff;

$text-grey-color: rgb(106, 113, 154);

$grey-color-1: #f3f3f7;
$grey-color-2: #d0d2df;

$grey-color-3: #262626;
$border-color: #cdd6e2;

$text-color: #231f20;
