.solarProjects__wrapper {
  .solarProjects__inner {
    padding: 120px 0 120px 40px;
    border-left: 2px solid $light-grey-color;
    // margin-left: 80px;

    @include media-breakpoint-down(md) {
      padding: 50px 0 50px 0;
      border-left: 0;
      margin-left: 0;
    }
  }

  .customCard__wrap {
    background: #f4f4f1;

    a {
      width: 100%;
    }

    .figure__holder {
      height: 190px;
      .image {
        height: 190px;
      }
      &:before {
        border-bottom: 70px solid #f4f4f1;
      }
    }
  }

  .carousel__wrapper {
    margin-bottom: 5rem;
    display: flex;

    @include media-breakpoint-down(md) {
      margin-bottom: 8rem;
    }

    .swiper-slide {
      display: flex;
    }
  }

  .swiperButtons__wrap {
    position: absolute;
    right: 0;

    @include media-breakpoint-down(md) {
      right: initial;
      width: calc(100% - 48px);
    }

    .swiper-button-next {
      color: $success-color !important;
      background: transparent;
      border: 2px solid $success-color;
      @include border-radius(50%);
      height: 40px;
      width: 40px;
      @include flex-center;
      left: -50px;

      @include media-breakpoint-down(md) {
        right: 0;
        left: initial;
        top: -45px;
      }

      &:after {
        font-family: "bootstrap-icons" !important;
        content: "\F285";
        @include font-size(16px);
      }

      &:hover {
        background: $success-color;
        color: $white-color !important;
      }
    }
    .swiper-button-prev {
      color: $success-color !important;
      background: transparent;
      border: 2px solid $success-color;
      @include border-radius(50%);
      height: 40px;
      width: 40px;
      @include flex-center;
      left: -100px;

      @include media-breakpoint-down(md) {
        left: 0;
        top: -45px;
      }

      &:after {
        font-family: "bootstrap-icons" !important;
        content: "\F284";
        @include font-size(16px);
      }
      &:hover {
        background: $success-color;
        color: $white-color !important;
      }
    }
  }
}
