.testimonial__header {
  background: $white-color;
  position: relative;
  width: 100%;
  margin-top: -100px;
  overflow: hidden;
  height: 450px;
  border-bottom: 1px solid $brand-color;

  @include media-breakpoint-down(md) {
    margin-top: -70px;
    height: 350px;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 450px;

    @include media-breakpoint-down(md) {
      height: 350px;
    }

    img {
      @include object-fit-cover;
    }
  }
  .caption {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: $white-color;
    padding-top: 100px;

    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }

    .title {
      font-size: 112px;
      color: $brand-color;
      line-height: 0.8;
      font-weight: 500;
      margin-bottom: 0;
      text-transform: capitalize;

      @include media-breakpoint-down(md) {
        font-size: 48px;
        line-height: 1.1;
      }
    }
  }
}

.all__testimonials {
  background: #d9d9d9;
  .testimonials__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    position: relative;
    margin-bottom: 2rem;

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
    }

    .testimonialsCard__wrap {
      display: none;

      .testimonialsCard__content {
        padding: 40px;
        background: $white-color;
        @include flex-center-vert;
        flex-direction: column;
        gap: 2rem;

        @include media-breakpoint-down(md) {
          padding: 30px;
        }

        .testimonials__image {
          @include border-radius(50%);
          width: 400px;
          height: 400px;
          flex: 0 0 auto;

          @include media-breakpoint-down(md) {
            width: 100%;
            height: 300px;
          }

          img {
            @include border-radius(50%);
            @include object-fit-cover;
          }
        }
        .testimonials__caption {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          h3 {
            font-weight: 700;
            font-size: 28px;
            color: $brand-second-color;
            line-height: 1.4;

            @include media-breakpoint-down(md) {
              font-size: 24px;
            }
          }
          h6 {
            font-weight: 300;
            font-size: 20px;
            color: $brand-color;
          }
          span {
            font-weight: 300;
            font-size: 16px;
          }
        }
      }
    }
  }
  .testimonials__grid .testimonialsCard__wrap:nth-child(even) {
    margin-top: 6rem;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  .testimonials__grid .testimonialsCard__wrap:nth-child(odd) {
    align-self: start;
  }
}

.terms__wrapper {
  background: #d9d9d9;

  .terms__content {
    h3 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    ul {
      counter-reset: counter;
      position: relative;
      li {
        font-size: 18px;
        font-weight: 300;
        padding: 0 0 0 25px;
        position: relative;
        &:before {
          counter-increment: counter;
          content: counter(counter);
          color: $brand-second-color;
          font-size: 18px;
          position: absolute;
          top: -2px;
          left: 0;
        }
      }
    }
  }
}
